mat-spinner {
  position: absolute;
  z-index: 2;
}

img {
  max-width: 75%;
}

@media only screen and (min-width: 600px) {
  img {
    max-width: 50%;
  }
}

.block {
  min-width: 50%;
}

#canvas-wrapper {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

#canvas-wrapper > video {
  transform: scaleX(-1);
  visibility: hidden;
  width: auto;
  height: auto;
  position: absolute;
}
