mat-spinner {
  position: absolute;
  z-index: 2;
}

mat-card {
  margin-bottom: 10px;

  mat-card-title {
    app-countdown {
      margin: 5px;
    }
  }
}

img {
  max-width: 60%;
}

@media only screen and (min-width: 600px) {
  img {
    max-width: 50%;
  }
}

.block {
  width: 100%;
}

.block-50 {
  width: 50%;
}

.canvas-wrapper {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
}

.canvas-wrapper > video {
  transform: scaleX(-1);
  visibility: hidden;
  width: auto;
  height: auto;
  position: absolute;
}

#cropped {
  visibility: collapse;
  position: absolute;
  // top: 64px;
  // left: 2px;
  // width: auto;
  // height: auto;
}
