.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.sidenav-container {
  justify-content: space-between;
  height: 100%;
}

.sidenav {
  width: 200px;
}

.space {
  margin-left: 50px;
}

.active {
  border-bottom: 1px solid white;
}

.list-item-active {
  color: #c2185b!important;
  background: rgba(0, 0, 0, 0.04)!important;
  span {
      font-weight: bold !important;
  }
}
